*.iml
.gradle
/local.properties
# All files ignore on Android Studio
/.idea
# Specific files ignore
# /.idea/caches/build_file_checksums.ser
# /.idea/libraries
# /.idea/modules.xml
# /.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
